<div class="container">
  <div class="row">
    <div class="col-md-12">
      <hr>
      <h4>
        My bookings
      </h4>
      <hr>
    </div>
    <form (ngSubmit)="editGuest()" [formGroup]="newGuestGroup" novalidate>
      <div class="form-group">
        <label>FirstName:
          <input class="form-control" formControlName="firstName">
        </label>
        <br>
        <label class="center-block">LastName:
          <input class="form-control" formControlName="lastName">
        </label>
        <br>
        <label class="center-block">Address:
          <input class="form-control" formControlName="address">
        </label>
        <br>
        <button type="submit" class="btnCancel2 btn-outline-warning" routerLink="/guests/page">
          <i class="fa fa-floppy-o" aria-hidden="true"></i>Cancel
        </button>
        <button type="submit" class="btnEdit2 btn-outline-danger">
          <i class="fa fa-floppy-o" aria-hidden="true"></i>Edit
        </button>
      </div>
    </form>
  </div>
</div>