<div class="container">
    <h1>Register</h1>
</div>
  <form (ngSubmit)="createGuest()" [formGroup]="guestGroup" novalidate>
      <div class="form-group">
        <label>FirstName:
          <input class="form-control" formControlName="firstName">
        </label><br>
        <label class="center-block">LastName:
            <input class="form-control" formControlName="lastName">
          </label><br>
          <label class="center-block">Address:
              <input class="form-control" formControlName="address">
            </label><br>
        <label class="center-block">Username:
          <input class="form-control" formControlName="username">
        </label><br>
       <label class="center-block">Password:
          <input class="form-control" formControlName="password">
        </label><br>
        <label class="center-block">Repeat Password:
          <input class="form-control" formControlName="password">
        </label><br>
        <button type="submit" class="btnRegi btn-outline-danger">
          <i class="fa fa-floppy-o" aria-hidden="true"></i>Register
        </button>
      </div>
    </form>


