.roomlist{
  position: relative;
}

.card-header{
  position: relative;
  z-index: 1;
  background-image: linear-gradient(to top, #F4F4F4 0%, #DFDEDC 100%);

}
.double-room-img {
  width:100%;
}
.card {
  padding: 0;
}
.infotext{
  position: relative;
  font-size: 19px;
  width: 90%;
}
.button-cliff {
overflow-y: scroll;
}
.button-hill {
padding: 10px;
width: 90%;
margin: 0 5%;
border-bottom: 2px solid lightgray;
}
.hill-p {
  padding: 5px 10px;
  margin: 0;
}
