<div class="container">
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-outline-success" routerLink="/front" routerLinkActive="active">Back
      </button>
    </div>
    <hr>
    <h4>Registered admins</h4>
    <hr>
    <div class="col-md-12">
      <div class="list-group">
        <a *ngFor="let admin of admins" class="list-group-item list-group-item-action">
          <h5>{{admin.firstName}} {{admin.lastName}} {{admin.address}}
            <div *ngIf="!adminToDelete || adminToDelete.id != admin.id" class="pull-right">
              <button class="btn btn-outline-danger" (click)="delete(admin, $event)">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </button>
              <button class="btn btn-outline-warning" (click)="details(admin)">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
            </div>
            <div *ngIf="adminToDelete && adminToDelete.id == admin.id" class="pull-right">
              <button class="btn btn-outline-danger" (click)="deleteConfirmed($event)">
                <i class="fa fa-trash-o" aria-hidden="true"></i> Sure?
              </button>
              <button class="btn btn-outline-info" (click)="deleteAborted($event)">
                <i class="fa fa-pencil" aria-hidden="true"></i> Cancel
              </button>
            </div>
          </h5>
        </a>
      </div>
    </div>
  </div>
</div>