<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h3>
    <script src='angular.js'></script>
    <script src='main.js'></script>
  </h3>
  <div ng-controller="HeaderCtrl" >
    <div ng-include src="header.url"></div>
    <script type="text/ng-template" id="header.html"></script>
  </div>

</div>
<img class="img1"  src="http://bpic.588ku.com/back_pic/03/87/39/1657d20b5bc056e.jpg">
<img class="single"  src="https://image.slidesharecdn.com/accommodationpresentationontypesofroom1-140222114118-phpapp01/95/typesofrooms-in-hotelashish-jumadeihm-ahmedabad-3-638.jpg?cb=1393069370">
<img class="double"  src="http://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/images/amexpub/0043/3510/201406-w-top-rated-hotel-beds-in-america-distrikt-hotel.jpg?itok=6J8ig1RL">
<img class="suite"  src="https://ritzcarlton-h.assetsadobe.com/is/image/content/dam/the-ritz-carlton/hotels/usa-and-canada/washington-dc/washington-d-c-/guest-rooms/The%20Ritz-Carlton%20DC%201BDR%20Suite%20Bedroom.png?$XlargeViewport100pct$">

<ul>
    <h2><a target="_blank" class="btnLogin" rel="noopener" href="https://github.com/angular/angular-cli/wiki">Login</a></h2>
  <h1>
    <a class="logo "> EasvHotels.com</a>
  </h1>
    <h2><a target="_blank" class="btnSignup" rel="noopener" href="https://blog.angular.io/">Signup</a></h2>

</ul>


