<div class="container">
  <div class="row">
    <div class="col-md-12">
      <hr>
      <button
        class="btn btn-outline-success"
        routerLink="/front"
        routerLinkActive="active">Back
      </button>
      <hr>
      Dette er et fint dobbelt værelse med en masse gode ting, heriblandt en god udsigt og en altan med havudsigt
    </div>
    <div class="col-md-12">
      <div class="card">
        <h4 class="card-header">Customer Details</h4>
        <div class="card-body row">
          <div class="col-md-4">
            <div class="list-group">
            <div *ngFor="let doubleRoom of doubleRoom" class="list-group-item list-group-item-action">
              <img class="doubleroom1"  src="../../../assets/images/201406-w-top-rated-hotel-beds-in-america-distrikt-hotel.jpg" routerLink="/doubleRooms/">
              <img class="doubleroom2" src="../../../assets/images/hotel-dolfin-havudsigt-fra-altanen.jpg">
              <h5> pris på dobbelt værelse {{doubleRoom.price}} kr.<h5>
                værelsets id  {{doubleRoom.id}}</h5>
                <h5> rum tilgænglig {{doubleRoom.available}} </h5> </h5>
             <br/>


          </div>
          <div class="col-md-8">
            <dl class="row">
            </dl>
            <dl class="row">
            </dl>
            <dl class="row">
              <dd class="col-md-10">
              </dd>
            </dl>
          </div>
        </div>
        <div class="card-footer bg-transparent">
          <div class="pull-right" *ngIf="!confirmDelete">
            <button class="btn btn-outline-danger" (click)="delete()">
              <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
            </button>
            <button class="btn btn-outline-warning">
              <i class="fa fa-pencil" aria-hidden="true"></i> Update
            </button>
          </div>
          <div class="pull-right" *ngIf="confirmDelete">
            <button class="btn btn-outline-danger" (click)="deleteConfirmed()">
              <i class="fa fa-trash-o" aria-hidden="true"></i> Sure?
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
