.room-display {
  display: inline;
}

.links {
  float: left;
  width: 49%;
}

.single{
  max-height: 375px;
  max-width: 500px;
}
.double{
  max-height: 375px;
  max-width: 500px;
}
.suite{
  max-height: 375px;
  min-width: 515px;}

