<app-nav-bar></app-nav-bar>
<div class="row">
  <div class="card col-6">
    <div class="card-body">
      <p>This is the famous suite which is a part of the Scandinavian Congress Center Aarhus and is located in the heart of the city. The suite offers a private fitness center.
        The also suite comes with modern rooms with free wireless internet access and a minibar.
      </p>
      <p> The suite is decorated in three different styles, all with air conditioning. All rooms have a flat-screen TV with cable channels, minibar, safe and trouser press.</p>
      <p>The well-equipped fitness center offers professional personal trainers if desired or else the guest can come and go as much he/she desires. </p>
      <p>By staying at the suite you can access V.I.P to the Restaurant Le Fresh, which serves light, international meals in the informal surroundings. Restaurant le Fresh offers impressive, Scandinavian breakfast buffet. </p>
      <p>
        The open-air museum Old Town is a 10-minute drive away. ARoS Aarhus Art Museum and Music Housing Aarhus is located right next to the suite so if you are art love is the atraktion we must not squander.
      </p>
      <p>According to our guests independent reviews this is their favorite part of stay at The Suite.</p>
      <p>
        couples are particularly pleased with the suite and its location as it is only 2 minutes walk to the beach.
      </p>
      <p>
        Our staff speak English,Spanish,French,German,Norwegian and of course Danish.
      </p>
    </div>
  </div>


  <div class="card col-6">
    <ngb-carousel class="carousel">
      <ng-template ngbSlide>
        <img src="../../../../assets/images/suite.jpg" alt="Random first slide">
        <div class="carousel-caption">
          <h3>The Room</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="../../../../assets/images/suitebath.jpg" alt="Random second slide">
        <div class="carousel-caption">
          <h3>Bathroom</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="../../../../assets/images/suiteview.jpg" alt="Random third slide">
        <div class="carousel-caption">
          <h3>Balcony</h3>

        </div>
      </ng-template>
    </ngb-carousel>
    <div *ngFor="let suite of suites" class="list-group-item list-group-item-action">
      <p> Price on the suite: {{suite.price}} kr.</p>
      <p> Room available: {{suite.available}} </p>
      <p> Name of the room: {{suite.name}} </p>
      <div *ngIf="role === 'Administrator'" class="Adminbuttons">
        <div *ngIf="!suiteToDelete || suiteToDelete.id != suite.id" class="pull-right">
          <button class="btn btn-outline-danger" (click)="delete(suite, $event)">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
          <button class="btn btn-outline-warning" (click)="details(suite)">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
        </div>
        <div *ngIf="suiteToDelete && suiteToDelete.id == suite.id" class="pull-right">
          <button class="btn btn-outline-danger" (click)="deleteConfirmed($event)">
            <i class="fa fa-trash-o" aria-hidden="true"></i> Sure?
          </button>
          <button class="btn btn-outline-info" (click)="deleteAborted($event)">
            <i class="fa fa-pencil" aria-hidden="true"></i> Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
