<div class="container">
  <div class="row">
    <div class="col-md-12">

      <hr>
      <button
        class="btn btn-outline-success"
        routerLink="/front"
        routerLinkActive="active">Back
      </button>

      <hr>
      Dette er den fineste suite i danmark, med en masse gode ting, heriblandt en god udsigt og en altan med havudsigt hvor at man kan tage elevatoren direkte ned til havet

    </div>
    <div class="col-md-12">
      <div class="card">
        <h4 class="card-header">Customer Details</h4>
        <div class="card-body row">
          <div class="col-md-4">
            <div class="list-group">
              <img class="suite1"  src="../../../assets/images/suite.jpg">
              <div class="col-md-9"></div>
              <img class="suite2" src="../../../assets/images/oceanView.jpg">
              <div *ngFor="let suite of suite" class="list-group-item list-group-item-action">
                <h5> pris på den eksklusive suite {{suite.price}} kr.<h5>
                  værelsets id  {{suite.id}}</h5>
                  <h5> rum tilgænglig {{suite.available}} </h5> </h5>
              </div>
            </div>
            <div class="card-footer bg-transparent">
              <div class="pull-right" *ngIf="!confirmDelete">
                <button class="btn btn-outline-danger" (click)="delete()">
                  <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
                </button>
                <button class="btn btn-outline-warning">
                  <i class="fa fa-pencil" aria-hidden="true"></i> Update
                </button>
              </div>
              <div class="pull-right" *ngIf="!confirmDelete">
                <button class="btn btn-outline-danger" (click)="deleteConfirmed()">
                  <i class="fa fa-trash-o" aria-hidden="true"></i> Sure?
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
