.room-display {
  display: inline;
}

.text1{
  position: fixed;
  bottom: 250px;
  left: 150px;
border: #8f3dff;
}

.text2{
  position: fixed;
  bottom: 250px;
  right: 750px;
}

.text3{
  position: fixed;
  right: 250px ;
bottom: 250px;
}

.single{
  margin-top: 80px;
  max-height: 375px;
  max-width: 500px;
}
.double{
  margin-top: 80px;
  max-height: 375px;
  max-width: 500px;
}
.suite {
  margin-top: 80px;
  max-height: 375px;
  min-width: 510px;
}



