.room-display {

  display: inline;
}
.text1{
  position: fixed;
;
  bottom: 250px;
  left: 150px;
border: #8f3dff;
}


.text2{
  position: fixed;
 ;
  bottom: 250px;
  right: 750px;
}

.text3{
  position: fixed;
  right: 250px ;
bottom: 250px;
}


.links {
  float: left;
  width: 49%;
}
.links button {
  float: right;
  margin: 5px;
  padding: 5px 10px;
  border: 1px gray solid;
  border-radius: 5px;
  background: forestgreen;
  color: white;
}

.single{
  max-height: 375px;
  max-width: 500px;
}
.double{
  max-height: 375px;
  max-width: 500px;
}
.suite {
  max-height: 375px;
  min-width: 510px;
}



