<app-nav-bar></app-nav-bar>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>
        Edit Suite
      </h1>
    </div>
    <form (ngSubmit)="editSingleRoom()" [formGroup]="newSingleRoomGroup" novalidate>
      <div class="form-group">
        <label class="center-block">Name of the room:
          <input class="form-control" formControlName="name">
        </label>
        <br>
        <label class="center-block">Available:
          <input class="form-control" formControlName="available">
        </label>
        <br>
        <label class="center-block">Price:
          <input class="form-control" formControlName="price">
        </label>
        <br>
        <button type="submit" class="btnCancel btn-outline-warning" routerLink="/front">
          <i class="fa fa-floppy-o" aria-hidden="true"></i>Cancel
        </button>
        <button type="submit" class="btnEdit btn-outline-danger">
          <i class="fa fa-floppy-o" aria-hidden="true"></i>Edit
        </button>
      </div>
    </form>
  </div>
</div>

<form class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
      <button class="input-group-addon" (click)="d.toggle()" type="button">
        <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
      </button>
    </div>
  </div>
</form>

<form class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd" name="dp2" [(ngModel)]="model2" ngbDatepicker #e="ngbDatepicker">
      <button class="input-group-addon" (click)="e.toggle()" type="button">
        <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
      </button>
    </div>
  </div>
</form>

<form (ngSubmit)="createBooking()" [formGroup]="createBookingGroup" novalidate>
  <div class="form-group">
    <label class="center-block">Start Date:
      <input class="form-control" formControlName="checkIn">
    </label>
    <br>
    <label class="center-block">End Date:
      <input class="form-control" formControlName="checkOut">
    </label>
    <button type="submit" class="btnBook btn-outline-info">
      <i class="fa fa-floppy-o" aria-hidden="true"></i>Book
    </button>
  </div>
</form>